<!DOCTYPE html>
<html lang="zh-TW" class="h-100">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
        integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link href="/static/css/font.css" rel="stylesheet">
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
    <style>
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
    <title>高大選課工具</title>
</head>

<body class="nav-fixed h-100">
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="topnavbar" style="z-index: 1035;">
        <a class="navbar-brand active" href="/home">
            <ul class="navbar-nav align-items-center">
                <img class="mr-2" style="width: 32px; height: 32px;"
                    src="https://img.icons8.com/fluent/32/000000/calendar.png" />
                <h4 class="mt-1">高大選課工具</h4>
            </ul>
        </a>
        <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item  ml-2 mr-3">
                <div class="row shadow rounded-pill px-2" style="background-color: #036fc6;">
                    <p id="credit" style="color: white;" class="m-1">已選學分 0</p>
                    <div class="col align-self-center p-0">
                        <img id="warningIcon" style="height: 24px;" src="https://img.icons8.com/fluent/24/000000/cancel.png"/>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                    href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img style="width: 36px; height: 36px;" src="/static/img/user.png">
                </a>
                <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up mt-4 p-3"
                    aria-labelledby="navbarDropdownUserImage">
                    <div class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" style="width: 54px; height: 54px;" src="/static/img/user.png">
                        <div class="dropdown-user-details ml-3">
                            <h5 class="mb-0">{{ userName }}</h5>
                            <div class="">{{ userId }}</div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/m/home">
                        <div class="row pl-2">
                            <div class="dropdown-item-icon">
                                <img src="https://img.icons8.com/fluent/24/000000/android.png"/>
                            </div>
                            <p class="mx-2 mb-0" style="padding-top: 2px;">手機版</p>
                        </div>
                    </a>
                    <a class="dropdown-item" href="/profile">
                        <div class="row pl-2">
                            <div class="dropdown-item-icon">
                                <img src="https://img.icons8.com/fluent/24/000000/resume-website.png"/>
                            </div>
                            <p class="mx-2 mb-0" style="padding-top: 2px;">我的學分</p>
                        </div>
                    </a>
                    {% if hasLoggedIn == 'False' %}
                    <a class="dropdown-item" href="/login">
                        <div class="row pl-2">
                            <div class="dropdown-item-icon">
                                <img src="https://img.icons8.com/fluent/24/000000/key.png"/>
                            </div>
                            <p class="mx-2 mb-0" style="padding-top: 2px;">登入</p>
                        </div>
                    </a>
                    {% else %}
                    <a class="dropdown-item" href="/logout">
                        <div class="row pl-2">
                            <div class="dropdown-item-icon">
                                <img src="https://img.icons8.com/fluent/24/000000/exit.png"/>
                            </div>
                            <p class="mx-2 mb-0" style="padding-top: 2px;">登出</p>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>

    <div class="jumbotron fixed-top mb-0 h-100 rounded-0 px-4 pb-4" style="padding-top: 90px;">
        <div class="row h-100">
            <div class="col-xl-5 mb-4 h-100">
                <div class="row mb-0 mx-0">
                    <table style="table-layout: fixed;" class="table table-borderless mb-0">
                        <thead class="text-center">
                            <tr>
                                <th width="60" class="text-right">
                                    <p class="mr-2 my-1"></p>
                                </th>
                                <th>
                                    <p class="my-1">MON</p>
                                </th>
                                <th>
                                    <p class="my-1">TUE</p>
                                </th>
                                <th>
                                    <p class="my-1">WED</p>
                                </th>
                                <th>
                                    <p class="my-1">THU</p>
                                </th>
                                <th>
                                    <p class="my-1">FRI</p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="timeTable" style="height: calc(100% - 62px);" class="overflow-auto">
                    <table style="table-layout: fixed; word-break: break-all;" class="table table-borderless mb-0">
                        <tbody class="table-active text-center">
                            <tr style="height: 85px;">
                                <td width="60" class="table-light">
                                    <p class="my-1">清晨 </p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-0"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-0"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-0"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-0"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-0"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td width="60" class="table-light">
                                    <p class="my-1">01</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-1"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-1"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-1"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-1"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-1"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">02</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-2"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-2"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-2"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-2"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-2"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">03</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-3"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-3"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-3"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-3"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-3"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">04</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-4"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-4"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-4"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-4"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-4"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">午休</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-13"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-13"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-13"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-13"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-13"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">05</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-5"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-5"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-5"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-5"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-5"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">06</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-6"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-6"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-6"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-6"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-6"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">07</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-7"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-7"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-7"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-7"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-7"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">08</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-8"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-8"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-8"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-8"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-8"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">09</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-9"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-9"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-9"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-9"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-9"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">10</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-10"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-10"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-10"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-10"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-10"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">11</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-11"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-11"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-11"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-11"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-11"></td>
                            </tr>
                            <tr style="height: 85px;">
                                <td class="table-light">
                                    <p class="my-1">12</p>
                                </td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-1-12"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-2-12"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-3-12"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-4-12"></td>
                                <td class="colorBox" style=" border:1px #ffffff solid;" id="table-5-12"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-7 mb-4 h-100">
                <div style="border-radius: 20px" class="card h-100 p-2 shadow">
                    <div class="card-body h-100 justify-content-center py-5 py-xl-4">
                        <div class="row mx-2 mb-3">
                            <select id="deptSelect" class="selectpicker show-tick mx-1" data-width="fit"
                                data-style="btn-info">
                                <option value="GR">共同必修</option>
                                <option value="CC">核心通識</option>
                                <option value="LI">通識人文科學類</option>
                                <option value="SC">通識自然科學類</option>
                                <option value="SO">通識社會科學類</option>
                                <option value="MI">通識微學分</option>
                                <option value="CD">全民國防教育類</option>
                                <option value="IN">興趣選修</option>
                                <option data-divider="true"></option>
                                <option value="WL">西洋語文學系</option>
                                <option value="KH">運動健康與休閒學系</option>
                                <option value="CCD">工藝與創意設計學系</option>
                                <option value="DA">建築學系</option>
                                <option value="CDA">創意設計與建築學系</option>
                                <option value="EL">東亞語文學系</option>
                                <option value="DAP">運動競技學系</option>
                                <option value="CHS">人文社會科學院共同課程</option>
                                <option data-divider="true"></option>
                                <option value="LA">法律學系</option>
                                <option value="GL">政治法律學系</option>
                                <option value="FL">財經法律學系</option>
                                <option value="CCL">法學院共同課程</option>
                                <option data-divider="true"></option>
                                <option value="AE">應用經濟學系</option>
                                <option value="FI">金融管理學系</option>
                                <option value="IM">資訊管理學系</option>
                                <option value="AB">亞太工商管理學系</option>
                                <option value="CCM">管理學院共同課程</option>
                                <option data-divider="true"></option>
                                <option value="AM">應用數學系</option>
                                <option value="AC">應用化學系</option>
                                <option value="AP">應用物理學系</option>
                                <option value="LS">生命科學系</option>
                                <option value="CCS">理學院共同課程</option>
                                <option data-divider="true"></option>
                                <option value="EE">電機工程學系</option>
                                <option value="CE">土木與環境工程學系</option>
                                <option value="CS">資訊工程學系</option>
                                <option value="CM">化學工程及材料工程學系</option>
                                <option data-divider="true"></option>
                                <option value="ISP">國際學生系</option>
                                <option value="IFD">創新學院不分系</option>
                            </select>
                            <select id="gradeSelect" class="selectpicker show-tick mx-1" data-width="fit"
                                data-style="btn-info">
                                <option value="1">大一</option>
                                <option value="2">大二</option>
                                <option value="3">大三</option>
                                <option value="4">大四</option>
                            </select>
                            <!--SearchBox //Enhancement: search course by typing keywords//
                            <div class="form-group mx-2">
                                <input type="search" class="form-control searchCourse" placeholder="搜尋" data-table="courseTable">
                            </div>
                            <a data-toggle="tooltip" data-placement="top" title="搜尋課程、教授">
                                <img style="width: 36px; height: 36px;" src="https://img.icons8.com/fluent/36/000000/search.png"/>
                            </a>-->
                            <!--PrintTable() //Enhancement: render id:timeTable and save as jpg files//
                            <a class="ml-auto" href="javascript: printTable()" data-toggle="tooltip" data-placement="top" title="輸出課表">
                                <img src="https://img.icons8.com/fluent/36/000000/print.png"/>
                            </a>
                            -->
                            <a href="javascript: selected()" class="ml-auto" data-toggle="tooltip" data-placement="top"
                                title="已選課程">
                                <img src="https://img.icons8.com/fluent/36/000000/checkmark.png" />
                            </a>
                            <a href="/home" class="ml-3" data-toggle="tooltip" data-placement="top" title="移除全部">
                                <img src="https://img.icons8.com/fluent/36/000000/filled-trash.png" />
                            </a>
                            <a href="javascript: save()" class="ml-3" data-toggle="tooltip" data-placement="top" title="下載選課資料">
                                <img src="https://img.icons8.com/fluent/36/000000/save.png"/>
                            </a>
                            <a href="/guide" class="ml-3" data-toggle="tooltip" data-placement="top" title="使用方式">
                                <img class="mr-2" src="https://img.icons8.com/fluent/36/000000/info.png" />
                            </a>
                        </div>
                        <div id="scrollControl" style="height: calc(100% - 62px);" class="overflow-auto">
                            <table class="table table-hover courseTable">
                                <tbody>
                                    {% for i in courseData %}
                                    <tr class="control {{ i['dept'] }}-{{ i['grade'] }}" style="display: none;">
                                        <td id="selectBox" width="5%"><input id="{{ i['id'] }}{{ i['grade'] }}"
                                                class="checkBox" value="{{ i['period'] }}" type="checkbox"></td>
                                        <td id="courseName">
                                            <p class="font-weight-bold mb-0">{{ i['name'] }} {{ i['class'] }}</p>
                                        </td>
                                        <td id="courseTeacher" width="15%">{{ i['teacher'] }}</td>
                                        <td id="courseDept" style="display: none;">{{ i['dept'] }}</td>
                                        <td id="courseCategory" style="display: none;">{{ i['category'] }}</td>
                                        <td id="courseLocation" style="display: none;">{{ i['location'] }}</td>
                                        <td width="17%">
                                            {% for j in i['period'] %}
                                            {% if j[0] == 1 %}
                                            <small>一{{ j[1] }},</small>
                                            {% elif j[0] == 2 %}
                                            <small>二{{ j[1] }},</small>
                                            {% elif j[0] == 3 %}
                                            <small>三{{ j[1] }},</small>
                                            {% elif j[0] == 4 %}
                                            <small>四{{ j[1] }},</small>
                                            {% elif j[0] == 5 %}
                                            <small>五{{ j[1] }},</small>
                                            {% elif j[0] == 6 %}
                                            <small>六{{ j[1] }},</small>
                                            {% elif j[0] == 7 %}
                                            <small>日{{ j[1] }},</small>
                                            {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td width="5%"><img style="width: 26px; height: 26px;"
                                                src="/static/img/{{ i['category'] }}.png"></td>
                                        <td id="courseCredit" width="10%">{{ i['credit'] }}學分</td>
                                        <td width="5%"><a class="dcardLink" href="" target="_blank"><img
                                                    style="width: 26px; height: 26px;" src="/static/img/dcard.png"></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bootstrap CDN START-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
        integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
        crossorigin="anonymous"></script>
    <!--Bootstrap CDN END-->

    <!--html2canvas //Enhancement: render id:timeTable and save as jpg files//
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"
        integrity="sha512-OqcrADJLG261FZjar4Z6c4CfLqd861A3yPNMb+vRQ2JwzFT49WT4lozrh3bcKxHxtDTgNiqgYbEUStzvZQRfgQ=="
        crossorigin="anonymous"></script>
    -->
    <script type="text/javascript" src="/static/js/style.js"></script>
    <script type="text/javascript" src="/static/js/table.js"></script>
</body>

</html>