<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="5A-WWtg76Vv7FFxizdQVDgLwNtwFkXUlIfVTHVMfXQg" />

    <meta name="author" content="NUK Course-Selection-Tool">
    <meta name="description" content="國立高雄大學學生選課輔助系統">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link href="/static/css/font.css" rel="stylesheet">

    <title>使用條款 · 高大選課工具</title>
</head>

<body>
    <div class="row py-4 justify-content-center m-0">
        <div class="col-xl-4 col-m-12">
            <div class="card shadow my-3">
                <div class="row p-4 justify-content-center">
                    <img class="mr-2" src="https://img.icons8.com/fluent/40/000000/calendar.png" />
                    <h4 class="mt-1">高大選課工具</h4>
                </div>
                <div class="container text-center">
                    <h5>服務條款</h5>
                    <h6>Terms of Service</h6>
                </div>
                <div class="dropdown-divider my-3"></div>
                <div class="container text-center my-3 px-4">
                    <h6>服務的使用</h6>
                    <small>
                        請您詳細閱讀該條款，先感謝您使用高大選課工具（下稱該系統），
                        您進入該系統或使用其功能都表示您已同意此服務條款。
                        該系統與高雄大學或任何系所都沒有關連，
                        資料之取得係由高雄大學選課平台上之公開資料，
                        完全不會有串改、編輯校方資料的可能。
                        在該系統上的課程資料不保證其正確性，以選課平台之最新資料為準，
                        因為該系統顯示之課程資料而導致的任何問題，不負擔任何責任。
                        高大選課工具在未來有權可以調整、移除、新增該條款之任何內容。
                    </small>
                </div>
                <div class="container text-center my-3 px-4">
                    <h6>密碼的安全性</h6>
                    <small>
                        該系統之登入功能（選用），需要使用到您在高雄大學的教務系統帳戶，我們在此保證不會以任何方式取得您的帳號與密碼。
                        然而，該系統設計使用 Cookie 來暫時儲存您的帳號與密碼，在未登出之情況下，任何人取得您裝置的人可以直接瀏覽，
                        您必須小心保護您的裝置，避免給他人使用，而我們對於您使用該系統而造成的帳號密碼損失，不負擔任何責任。
                    </small>
                </div>
                <div class="row justify-content-center">
                    <a id="confirmButton" href="#"><button type="button" class="btn btn-dark m-4">同意以上條款</button></a>
                </div>
            </div>
        </div>
    </div>


    <!--Bootstrap CDN START-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
        integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
        crossorigin="anonymous"></script>
    <!--Bootstrap CDN END-->
    <script type="text/javascript" src="/static/js/mobile.js"></script>
</body>